body {
    margin: 0;
    background-color: #AC8172;
}


.fundoverde {
    width: 100%;
    height: 30px;
    background-color: #798957;
    display: flex;
    font-size: 20px;
}


.fundoverde svg {
    width: 10px;
}


.fundoverde div {
    margin-left: 20px;
}

#divhouse {
    margin-left: 100vh;
}


#input1 {
    background-color: #798957;
    border-color: black;
}

::placeholder {
    color: black;
}


#cioccolato{font-size: 80px; color: #798957;width: 100%;background-color:  #372117;text-align: center;}

#divcacau{color: #798957; display: inline-flex; font-size: 30px;background-color:  #372117;text-align: center;}
#divpurocacau{margin-left: 125.3px;margin-right: 125.3px;}

#header2{
    background-color: #372117;
    font-size: 60px;
    text-align: center;
    width: 100%;
    height: 200px;
    color: #798957;
    padding-top: 7%;
}
a{color: #372117;
text-decoration: none;}
#fotos{display: flex;
width: 100%;
}
#fotos img{
    width: 25%;
    padding-left: 1%;
}
#nao_mexe{
    padding-left: 0px;
}

